<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diabetes Prediction App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>

<br> <p align="center", style="font-size:30px;"><b> Diabetes Classification Model </b></p>

<form action="{{ url_for('index') }}" method="POST" style="background-color: antiquewhite;">
    <fieldset>
        <legend>Enter the Values of the Variables</legend>
    </fieldset>
</form>
